<div class='c-hero' style='background-image: url({{ site.cover_image }})'>
  <div class='c-hero__content'>
  	<script src="{{ 'js/typed.js' | prepend: site.baseurl }}"></script>
    <script>
    $(function(){

        $("#typed").typed({
            strings: ["{{ site.typedtext }}"],
            typeSpeed: 90,
            backDelay: 500,
            loop: true,
            contentType: 'text', 
            loopCount: false
        });
    });

    </script>
    <div class='c-hero__description'>{{ site.herotitle }}<p>『<span id="typed" style="white-space:pre;"></span>』<br>{{ site.description }}</p></div>
  </div>
</div>