<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

<body class='{% if page.url == '/' %} is-home {% endif %}'>

  {% include analytics.html %}

  <div class='js-off-canvas-container c-off-canvas-container'>

    {% include hero-icons.html %}

    {% include search-form.html %}
    <div id="pjax-container">
      {{ content }}
    </div>
  </div>
  <div id="load" style="display: none;">
    <div>G</div>
    <div>N</div>
    <div>I</div>
    <div>D</div>
    <div>A</div>
    <div>O</div>
    <div>L</div>
  </div>
  <script src="{{ '/js/jquery.viewportchecker.min.js' | prepend: site.baseurl }}">  </script>
  <script src="{{ '/js/jquery.ghostHunter.min.js' | prepend: site.baseurl }}">      </script>
  <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}">              </script>
  <script src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}">              </script>
  <script src="{{ '/js/app.js' | prepend: site.baseurl }}">                         </script>
  <script src="{{ '/js/clickheart.js' | prepend: site.baseurl }}">                  </script>
  <script src="{{ '/js/jquery.pjax.js' | prepend: site.baseurl }}">                  </script>
  <script> 
    $(document).pjax('a[target!=_blank]', '#pjax-container', {fragment:'#pjax-container', timeout:8000}); 
    $(document).on('ready pjax:end', function(event) {
      // =====================
      // Post Card Images Fade
      // =====================
      $('.js-fadein').viewportChecker({
        classToAdd: 'is-inview', // Class to add to the elements when they are visible
        offset: 100,
        removeClassAfterAnimation: true
      });
    })
    $(document).on('pjax:click', function() {
      $('#load').show()
    })
    $(document).on('pjax:complete', function() {
      $('#load').hide()
    })
  </script>
</body>

</html>