<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

<body class='{% if page.url == '/' %} is-home {% endif %}'>

  {% include analytics.html %}

  <div class='js-off-canvas-container c-off-canvas-container'>

    {% include hero-icons.html %}

    {% include search-form.html %}
    <div id="pjax-container">
      {{ content }}
    </div>
  </div>
  <script src="{{ '/js/jquery.viewportchecker.min.js' | prepend: site.baseurl }}">  </script>
  <script src="{{ '/js/jquery.ghostHunter.min.js' | prepend: site.baseurl }}">      </script>
  <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}">              </script>
  <script src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}">              </script>
  <script src="{{ '/js/app.js' | prepend: site.baseurl }}">                         </script>
  <script src="{{ '/js/clickheart.js' | prepend: site.baseurl }}">                  </script>
  <script src="{{ '/js/jquery.pjax.js' | prepend: site.baseurl }}">                  </script>
  <script> 
    $(document).pjax('a[target!=_blank]', '#pjax-container', {fragment:'#pjax-container', timeout:8000}); 
    $(document).on('ready pjax:end', function(event) {
      alert("ff");
      // =====================
      // Post Card Images Fade
      // =====================

      $('.js-fadein').viewportChecker({
        classToAdd: 'is-inview', // Class to add to the elements when they are visible
        offset: 100,
        removeClassAfterAnimation: true
      });

      // =====================
      // Search
      // =====================

      var search_field = $('.js-search-input'),
          search_results = $('.js-search-result'),
          toggle_search = $('.js-search-toggle'),
          search_result_template = "\
            <div class='c-search-result__item'>\
              <a class='c-search-result__title' href='{{link}}'>{{title}}</a>\
            </div>";

      toggle_search.click(function(e) {
        e.preventDefault();
        $('.js-search').addClass('is-active');

        // If off-canvas is active, just disable it
        $('.js-off-canvas-container').removeClass('is-active');

        setTimeout(function() {
          search_field.focus();
        }, 500);
      });

      $('.c-search, .js-search-close').on('click keyup', function(event) {
        if (event.target == this || event.target.className == 'js-search-close' || event.keyCode == 27) {
          $('.c-search').removeClass('is-active');
        }
      });

      search_field.ghostHunter({
        results: search_results,
        onKeyUp: true,
        rss: base_url + '/feed.xml',
        info_template : "<h4 class='c-search-result__head'>Number of results found: {{amount}}</h4>",
        result_template : search_result_template,
        zeroResultsInfo : false,
        includepages : true,
        before: function() {
          search_results.fadeIn();
        }
      });
    })
    // $(document).on('pjax:send', function() {
    //   $('#loading').show()
    // })
    // $(document).on('pjax:complete', function() {
    //   $('#loading').hide()
    // })
  </script>
</body>

</html>